<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="css/navbar.css">
  <link rel="stylesheet" href="css/deleterow.css">
  <title>Generate New Sheets</title>
</head>

<body>

  <!--------------------------start navbar---------------->
  <header>
    <nav class="navbar navbar-expand-lg navbar-light sticky-top" style="background-color: transparent;">
      <a class="navbar-brand text-white" href="#">RMS</a>
      <!-----------toggler buton---------------------------->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon "></span>
      </button>
      <!----------------------navbar menu-->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-lg-auto text-center">
          <li class="nav-item active ">
            <a class="nav-link text-white" href="#"><i class="fa fa-home" aria-hidden="true"></i> Home <span
                class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item dropdown text-white">
            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              User
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="../html/Customer.html">Customer</a>
              <a class="dropdown-item" href="../html/delvery boy.html"> delevery boy</a>
              <a class="dropdown-item" href="../html/dailytotal.html">lodder</a>
              <a class="dropdown-item" href="../html/dailytotal.html">driver</a>
            </div>
          </li>
          <li class="nav-item dropdown text-white">
            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Generate sheet
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="../html/new sheet.html">daily bottle delver entry, </a>
              <a class="dropdown-item" href="../html/printsheet.html">print sheets</a>
            </div>
          </li>
          <li class="nav-item dropdown text-white">
            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              water plant
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="../html/generatnewsheet.html">daily bottle delver entry </a>
              <a class="dropdown-item" href="../html/printsheet.html">print sheets</a>
            </div>
          </li>

          <li class="nav-item">
            <a class="nav-link text-white" href="#">Logout</a>
          </li>
        </ul>
      </div>
    </nav>
    <!--------------------------end navbar------------------>
  </header>

  <!-------------------banner---------------------------->
  <section class="banner">
    <div class="container">
      <!----------------------add data in table--------------->
      <div class="row">
        <div class="col-12">
          <div class="table-responsive">
            <table id="autocomplete_table" class="table table-hover autocomplete_table">
              <thead class=" thread-light text-white text-center">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">NAME</th>
                  <th scope="col">BOTTLE DLVD</th>
                  <th scope="col">EMPTY RCVD</th>
                  <th scope="col">BAL BOTTLE</th>
                  <th scope="col">RATE</th>
                  <th scope="col">AMOUNT RECD</th>
                  <th scope="col">BALANCE AMOUNT</th>
                </tr>
              </thead>
              <tbody>
                <tr id="row_1">
                  <th id="delete_1" scope="row" class="delete_row "><i class="fa fa-trash text-white"
                      aria-hidden="true"></i></th>
                  <td>
                    <input type="text" data-type="name" name="name[]" id="name_1" class="form-control autocomplete_text"
                      autocomplete="off">
                  </td>
                  <td>
                    <input type="number" data-type="bottle DLVD" name="bottle DLVD[]" id="bottle_DLVD"
                      class="form-control autocomplete_numeric" autocomplete="off">
                  </td>

                  <td>
                    <input type="number" data-type="empty RCVD" name="empty RCVD[]" id="empty_RCVD"
                      class="form-control autocomplete_numeric" autocomplete="off">
                  </td>
                  <td>
                    <input type="number" data-type="bal bottle" name="bal bottle[]" id="bal_bottle"
                      class="form-control autocomplete_numeric" autocomplete="off">
                  </td>
                  <td>
                    <input type="number" data-type="rate" name="rate[]" id="rate_1"
                      class="form-control autocomplete_numeric" autocomplete="off">
                  </td>
                  <td>
                    <input type="number" data-type="amount RECD" name="bal bottle[]" id="amount_RECD"
                      class="form-control autocomplete_numeric" autocomplete="off">
                  </td>
                  <td>
                    <input type="number" data-type="balance amount" name="balance amount[]" id="balance_amount"
                      class="form-control autocomplete_numeric" autocomplete="off">
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-----------------------------ADD ROWS BUTTON--------------->
          <div class="btn-container">
            <button class="btn " id="addNew"><i class="fa fa-plus" aria-hidden="true"></i> Add row</button>
            <!-----------------------------submit BUTTON--------------->

            <button class="btn" id="Submit"><i class="fa fa-plus" aria-hidden="true"></i> Submit</button>

          </div>
        </div>
      </div>
    </div>
  </section>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="../js/opennew.js"></script>
  <script src="../js/addRow.js"></script>
  <script src="../js/deleteRow.js"></script>






</body>

</html>