<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

  <link rel="stylesheet" href="css/navbar.css">
  <link rel="stylesheet" href="css/deleterow.css">
  <title>home</title>
</head>

<body>

  <!--------------------------start navbar---------------->
  <header>
    <nav class="navbar navbar-expand-lg navbar-light sticky-top" style="background-color: transparent;">
      <a class="navbar-brand text-white" href="#">RMS</a>
      <!-----------toggler buton---------------------------->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon "></span>
      </button>
      <!----------------------navbar menu-->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-lg-auto text-center">
          <li class="nav-item active ">
            <a class="nav-link text-white" href="#"><i class="fa fa-home" aria-hidden="true"></i> Home <span
                class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item dropdown text-white">
            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              User
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/customer">Customer</a>
              <a class="dropdown-item" href="/delvery boy"> delevery boy</a>
              <a class="dropdown-item" href="../html/dailytotal.html">lodder</a>
              <a class="dropdown-item" href="../html/dailytotal.html">driver</a>
            </div>
          </li>
          <li class="nav-item dropdown text-white">
            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Generate sheet
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/dailybottledelveryentry">daily bottle delevery entry </a>
              <a class="dropdown-item" href="/printsheet">print sheets</a>
            </div>
          </li>
          <li class="nav-item dropdown text-white">
            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              water plant
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="../html/invoice.html">Invoice Generate </a>
              <a class="dropdown-item" href="../html/printsheet.html">print Invoice</a>
            </div>
          </li>

          <li class="nav-item">
            <a class="nav-link text-white" href="#">Logout</a>
          </li>
        </ul>
      </div>
    </nav>
    <!--------------------------end navbar------------------>
  </header>

  <!-------------------banner---------------------------->
  <section class="banner">
    <div class="container">
      <div class="row">
        <div class=" col-sm-6">
          <h2>Drink More Water Pure water</h2>
          <p>"Nothing is softer or more flexible than water yet nothing can resist it"</p>
          <a href="#" class="btnD1">Read More</a>
        </div>
      </div>
    </div>
  </section>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

</body>

</html>